@model MyAddressBook.Contact

@{
    ViewBag.Title = "View Contact";
}


@* Not use this generated templete, created a partial view for show contact details as we need to use that templete multiple time *@

@Html.Partial("_ContactDetails")

@using (Html.BeginForm())
{
    <div>
        @Html.ActionLink("Back to List", "Index")|
        @Html.ActionLink("Edit", "Edit", new { id = Model.ContactID })
    </div>
}